**
!Dockerfile
!.dockerignore
!LICENSE
!dist
!dist/**
!backend
backend/**
!backend/config
backend/config/**
!backend/config/docker.toml
!backend/target
backend/target/**
!backend/target/x86_64-unknown-linux-musl
backend/target/x86_64-unknown-linux-musl/**
!backend/target/x86_64-unknown-linux-musl/release
backend/target/x86_64-unknown-linux-musl/release/**
!backend/target/x86_64-unknown-linux-musl/release/yt-panel-rust-backend
!scripts
scripts/**
!scripts/ct-entrypoint.sh
